{% extends 'base.html.twig' %}

{% block title %}Step index{% endblock %}

{% block body %}
    <h1>Step index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreationDate</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for step in steps %}
            <tr>
                <td>{{ step.id }}</td>
                <td>{{ step.creationDate ? step.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ step.description }}</td>
                <td>
                    <a href="{{ path('app_step_show', {'id': step.id}) }}">show</a>
                    <a href="{{ path('app_step_edit', {'id': step.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_step_new') }}">Create new</a>
{% endblock %}
