{% extends 'base.html.twig' %}

{% block title %}Cost{% endblock %}

{% block body %}
    <h1>Cost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cost.id }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ cost.creationDate ? cost.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ cost.category }}</td>
            </tr>
            <tr>
                <th>Beneficiaries</th>
                <td>{{ cost.beneficiaries }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cost_index') }}">back to list</a>

    <a href="{{ path('app_cost_edit', {'id': cost.id}) }}">edit</a>

    {{ include('cost/_delete_form.html.twig') }}
{% endblock %}
