{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block body %}
    <h1>Travel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travel %}
            <tr>
                <td>{{ travel.id }}</td>
                <td>{{ travel.duration }}</td>
                <td>
                    <a href="{{ path('app_travel_show', {'id': travel.id}) }}">show</a>
                    <a href="{{ path('app_travel_edit', {'id': travel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_travel_new') }}">Create new</a>
{% endblock %}
