<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand mb-0 h1" href="{{ path("index") }}">
{#                        <img src="data:image;base64,{{ imageGeneral.logo.base64 }}" style="width: {{ imageGeneral.logo.imageFor.width }}px; height: {{ imageGeneral.logo.imageFor.height }}px" alt="Alsace Navette">#}
                        Canarpi
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="header-navbar">
                        <ul class="navbar-nav mr-auto">
                            {% block navItems %}{% endblock %}
                        </ul>
                        <div class="ms-auto m-0 p-0 d-inline-flex">
                            <ul class="navbar-nav">
                                <li {% block accountActive %} class="nav-item dropdown" {% endblock %}>
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>
                                            Compte
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown2" style="min-width: 0; block-size: fit-content;">
                                        {% if is_granted("ROLE_USER") %}

{#                                            {% if is_granted("ROLE_ADMIN") %}#}
{#                                                <a class="dropdown-item" id="admin" href="{{ path("admin") }}">#}
{#                                                    <i class="fas fa-tools"></i>#}
{#                                                    Admin</a>#}
{#                                            {% endif %}#}
                                            <a class="dropdown-item" href="{{ path("edit_profile") }}">
                                                <i class="fas fa-user-edit"></i>
                                                    Voir le profil
                                            </a>
                                            <a class="dropdown-item" href="{{ path("security_logout") }}">
                                                <i class="fas fa-sign-out-alt"></i>
                                                    Se déconnecter
                                            </a>
                                        {% else %}
                                            <a class="dropdown-item" href="{{ path("security_login") }}">
                                                <i class="fas fa-sign-in-alt"></i>
                                                    Se connecter
                                            </a>
                                            <a class="dropdown-item" href="{{ path("security_registration") }}">
                                                <i class="fas fa-user-plus"></i>
                                                S'inscrire
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>
