{% extends 'base.html.twig' %}

{% block title %}PointOfInterest index{% endblock %}

{% block body %}
    <h1>PointOfInterest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreationDate</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point_of_interest in point_of_interests %}
            <tr>
                <td>{{ point_of_interest.id }}</td>
                <td>{{ point_of_interest.creationDate ? point_of_interest.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ point_of_interest.description }}</td>
                <td>
                    <a href="{{ path('app_point_of_interest_show', {'id': point_of_interest.id}) }}">show</a>
                    <a href="{{ path('app_point_of_interest_edit', {'id': point_of_interest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_point_of_interest_new') }}">Create new</a>
{% endblock %}
